#root {
  margin: 0 0;
  padding: 0;
}

.content-ResultandFilter{
  display: grid;
  grid-template-areas: 'resultInfoBar resultInfoBar cart '
                        'filter results cart';

  grid-template-columns: 25% auto 22%;
  padding: 30px 35px;
}

.content-ResultandFilter-withoutCart {
  display: grid;
  grid-template-areas: 'resultInfoBar resultInfoBar'
                        'filter results';
  grid-template-columns: 25% auto;
  padding: 30px 35px;
}