#root {
  margin: 0 0;
  padding: 0;
}

.content-ResultandFilter{
  display: grid;
  grid-template-areas: 'resultInfoBar resultInfoBar cart '
                        'filter results cart';

  grid-template-columns: 15% auto;
  padding: 30px 35px;
}
